<nav class="ui container">
    <a href="/" class="internal-link page_hilight"><em><strong>MMMX•</strong><i class="las la-cloud page_hilight"></i></em></a>
    <a href="/about" class="internal-link" title="About"><i class="las la-info page_hilight"></i></a>
    <a href="/tag/meta" class="internal-link"><i class="las la-seedling page_hilight"></i></a>
    <a href="/notecloud" class="internal-link"><i class="las la-project-diagram page_hilight"></i></a>
    <a href="http://nimdaghlian.com/art" class="internal-link"><i class="las la-palette page_hilight"></i></a>
    <a href="/everything.xml"><i class="las la-rss page_hilight"></i></a>
  </nav>