{% assign hilight = include.hilight  %}
{% if hilight == '' OR hilight == nil %}
{% assign hilight = "dimgrey"  %}
{% endif %}

	<style type="text/css">


		{{include.parent}} .page_hilight {
			color: {{ hilight }}  !important;
		}
		{{include.parent}} .page_hilight_bg {

			background-color: {{ hilight }} !important;
		}

		body {
			--block-shadow-color: {{ hilight }} !important;
			--block-text-color: {{ hilight }} !important;
		}

		.page_hilight_contrast {
			color: {{ hilight }}  !important;
			filter: invert(.3);
            mix-blend-mode: difference;
		}


	</style>
