
    <div class="overlay page_hilight">        

        <h5 class="page-status">Status: </h5>
        <div>
          {% if page.status  %}
            {{ page.status | capitalize }}<br>
          {% endif  %}
          {% if page.type != 'pages' %}
          <time class="page_hilight" datetime="{{ page.last_modified_at | date_to_xmlschema }}">
            Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
          </time>
          {% endif %}
        </div>

      {% if page.tags.size >0  %}
        <h5>Tags: </h5>
        <div>
            {% for tag in page.tags  %}
            <a class="mini ui button basic" style="color: {{page.color}}; border: 1px solid {{page.color}};" href="/tag/{{tag}}">{{tag}}</a>
            {% endfor  %}
        </div>
        {% endif  %}

      {% if page.backlinks.size > 0 %}
      <h5>Links to this page: </h5>
      <div class="backlink-box">
        {% for backlink in page.backlinks %}
          <a class="internal-link page_hilight" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
          <p>{{ backlink.excerpt | strip_html | truncatewords: 10 | remove: "[]" }}</p>
        {% endfor %}
      </div>
      {% endif %}

    </div>        
