---
layout: default
metasomething:
metaanotherthing:
---

<article class="asset">
  <div>
  </div>

  <div id="notes-entry-container">
        <img src="{{page.link}}">

    <side style="font-size: 0.9em">
    <h1>{{ page.title }}</h1>
      <content>
        {{ content }}
<!-- end excerpt -->
      </content>
      <hr>
    </side>
  </div>
  <div class="asset-nav">
    <button id="previous-asset" class="block" style="display: none;"></button>
    <button id="next-asset" class="block" style="display: none;"></button>  
  </div>
  </article>

{% include paginate-from-source.html  %}

