---
layout: default
---

<article class="asset">
  <div>
  </div>

  <div id="notes-entry-container" class="ui container grid stackable">
    <div class="ui eleven wide column">
      {% if page.categories contains "image" %}
      <img src="{{ page.asset }}" alt="Image">
    {% elsif page.categories contains "audio" %}
      <audio controls width="600">
        <source src="{{ page.asset }}" type="audio/{{ page.encoding }}">
        Your browser does not support the audio element.
      </audio>
    {% elsif page.categories contains "video" %}
      <video controls width="600">
        <source src="{{ page.asset }}" type="video/{{ page.encoding }}">
        Your browser does not support the video element.
      </video>
      {% endif %}
    </div>


    <side class="ui five wide column">
    <h1>{{ page.title }}</h1>
      <div>
        {{ content }}
<!-- end excerpt -->

      </div>
      {% if page.gallery %}
      <h4 class="block"><a href="/gallery/{{ page.gallery}}">Original Gallery</a></h4>
      {% endif %}

      <hr>
    </side>
  </div>
  <div class="asset-nav">
    <button id="previous-asset" class="block" style="display: none;"></button>
    <button id="next-asset" class="block" style="display: none;"></button>  
  </div>
  </article>

{% include paginate-from-source.html  %}
