---
layout: default
---
{% include floopdashes.html stroke = page.color  %}
{% include page_hilight.html hilight = page.color parent="body" %}
  <content class="ui twelve wide column grid stackable gallery collection-page">
      <!-- descriptive header for gallery -->
      <div class="ui one column grid">
        <h1 class="page_hilight">{{ page.title }}</h1>

        <div class="ui one column description" style="border-bottom-color: {{page.color}} ;">
          {{ content }}
          <div class="buttons-container one column">

            <h2><i class="las la-filter page_hilight"></i></h2>
        
            <!-- Buttons will be added here dynamically -->
          </div>
        </div>


              <!-- listing of gallery contents -->
        <div class="one column">
          <div class="ui cards grid four column stackable">
            {% assign cats = page.catmatch | default: empty_array %}
            {% assign tags = page.tagmatch | default: empty_array %}
            {% assign gals = page.galmatch | default: empty_array %}
            {% assign cols = page.colmatch | default: empty_array %}
          
            {% assign docs = site.documents | sort: "date" | reverse %}
            {% for post in docs  %}
            {% assign iscat = post.categories | array_contains: cats  %}
            {% assign istag = post.tags | array_contains: tags  %}
            {% assign isgal = post.gallery | array_contains: gals  %}
            {% assign iscol = post.collection | array_contains: cols  %}
          
            {% if iscat or istag or isgal or iscol %}
                  {% include basic_card.html  %}
              {% endif  %}
            {% endfor  %}
        </div>
        </div>


      </div>
  </content>
        <!-- sidebar -->
        <side class="ui four wide column flooped">
          <div class="overlay page_hilight">

          <h5>Collection of: </h5>

          <div class="ui horizontal list">

                {% if cats  %}
                {% for item in cats  %}
                <span class="item page_hilight">
                  <div class="content page_hilight">
                    <p>Category</p>
                    <a href="/category/{{item}}">{{item}}</a>
                  </div>
                </span>
              {% endfor  %}
              {% endif  %}
              {% if tags  %}
              {% for item in tags  %}
              <span class="item page_hilight">
                <div class="content page_hilight">
                  <p>Tag</p>
                  <a href="/tag/{{item}}">{{item}}</a>
                </div>
              </span>
            {% endfor  %}
            {% endif  %}
            {% if gals  %}
            {% for item in gals  %}
            <span class="item page_hilight">
              <div class="content">
                <p >Gallery</p>
                <a href="gallery/{{item}}">{{item}}</a>
              </div>
            </span>
          {% endfor  %}
          {% endif  %}
          {% if cols  %}
          {% for item in cols  %}
          <span class="item page_hilight">
            <div class="content">
              <p>Types</p>
              <a href="/{{item}}">{{item}}</a>
            </div>
          </span>
        {% endfor  %}
        {% endif  %}
        </div>
        </div>
          {% include side.html  %}
        </side>
        <!-- end sidebar -->
 

    {% include listfilter.html  %}

