---
layout: default
---
  <content class="ui twelve wide column grid stackable gallery collection-page">
      <!-- descriptive header for gallery -->
      <div class="ui one column grid">
        <h1 class="page_hilight">{{ page.title }}</h1>

        <div class="ui one column description">
          {{ content }}
          <div class="buttons-container one column">

            <h2><i class="las la-filter page_hilight"></i></h2>
        
            <!-- Buttons will be added here dynamically -->
          </div>
        </div>


              <!-- listing of gallery contents -->
        <div class="one column">
          <div class="ui cards grid four column stackable">
            {% assign cats = page.catmatch | default: empty_array %}
            {% assign tags = page.tagmatch | default: empty_array %}
            {% assign gals = page.galmatch | default: empty_array %}
            {% assign cols = page.colmatch | default: empty_array %}
          
            {% assign docs = site.documents | sort: "date" | reverse %}
            {% for post in docs  %}
            {% assign iscat = post.categories | array_contains: cats  %}
            {% assign istag = post.tags | array_contains: tags  %}
            {% assign isgal = post.gallery | array_contains: gals  %}
            {% assign iscol = post.collection | array_contains: cols  %}
          
            {% if iscat or istag or isgal or iscol %}
                  {% include basic_card.html  %}
              {% endif  %}
            {% endfor  %}
        </div>
        </div>


      </div>
  </content>
        <!-- sidebar -->
        <side class="ui four wide column">
          <h3>Collection of: </h3>
          {% if cats  %}
            <h4>Categories:</h4>
            <ul>
              {% for item in cats  %}
              <li>{{item}}</li>
              {% endfor  %}
            </ul>
          {% endif  %}
          {% if tags  %}
            <h4>Tags:</h4>
            <ul>
              {% for item in tags  %}
              <li>{{item}}</li>
              {% endfor  %}
            </ul>
          {% endif  %}
          {% if gals  %}
          <h4>Galleries:</h4>
          <ul>
            {% for item in gals  %}
            <li>{{item}}</li>
            {% endfor  %}
          </ul>
        {% endif  %}
        {% if cols  %}
        <h4>Types:</h4>
        <ul>
          {% for item in cols  %}
          <li>{{item}}</li>
          {% endfor  %}
        </ul>
      {% endif  %}
          {% include side.html  %}
        </side>
        <!-- end sidebar -->
 

    {% include listfilter.html  %}

