

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include floopdashes.html stroke = page.color  %}
  {% include page_hilight.html hilight = page.color parent="body" %}

  <body class="{{ page.bodyclass }}">
    {% include nav.html  %}
    <main class="ui container">
    <content class="ui two column grid stackable gallery">
        <!-- descriptive header for gallery -->
        <div class="ui twelve wide column">
          <h1 class="page_hilight">{{ page.title }}</h1>
          <div class="description page_hilight">
            {{ content }}
          </div>
                <!-- listing of gallery contents -->
      
        <div class="ui cards grid three column stackable">
        {% assign g = page.gallery %}
          {% for post in site.media %}
            {% if post.gallery contains g %}
            <div class="card block" >
              <div class="card-header page_hilight_bg">
                <div class="desaturate page_hilight">
                  {% if post.date  %}
                  <span class="date">
                    <small>{{ post.date | date: "%B %-d, %Y" }}</small>
                  </span>
                  {% endif  %}
                </div>
              </div>
              <div class="content">
                <div class="content" style="background-image: url({{post.link | resize: '400>x400'}}); margin: auto; height: 200px; background-repeat: no-repeat; background-position: center; background-size: cover;">
                <a href="{{ post.url }}?gallery={{page.gallery}}" target="_blank" title="{{ post.title }}" style="width: 100%; height: 200px; display: block;"></a>
                </div>
                <h3>
                  <a href="{{ post.url }}?gallery={{page.gallery}}" target="_blank" title="{{ post.title }}" class="card-link page_hilight">{{ post.title }}</a>
                </h3>
                    {% if post.excerpt  %}
                      <div>
                        {{ post.excerpt | truncatewords: 25 }}
                      </div>
                    {% endif %}
                  </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>



        </div>
        <!-- end descriptive header -->

        <!-- sidebar -->
        <side style="font-size: 0.9em;" class="ui four wide column flooped">
          <div >        
            <time class="overlay page_hilight" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
              Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
              {% endif %}
            </time>
          </div>        
        </side>
        <!-- end sidebar -->
 




    </content>
    </main>   
    {% include footer.html %}
  </body>
</html>