

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include floopdashes.html stroke = page.color  %}
  {% include page_hilight.html hilight = page.color parent="body" %}

  <body class="{{ page.bodyclass }}">
    {% include nav.html  %}
    <main class="ui container">
    <content class="ui two column grid stackable gallery">
        <!-- descriptive header for gallery -->
        <div class="ui twelve wide column">
          <h1 class="page_hilight">{{ page.title }}</h1>
          <div class="description page_hilight">
            {{ content }}
          </div>
                <!-- listing of gallery contents -->
      
        <div class="ui cards grid three column stackable">
        {% assign g = page.gallery %}
          {% for post in site.media %}
            {% if post.gallery contains g %}
            {% assign postTitle = post.title  %}
            {% assign postGallery = post.gallery  %}
            {% assign postUrl = post.url  %}
            {% assign postExcerpt = post.excerpt  %}
            {% assign postDate = post.date  %}

            {% include image_card.html  %}
            {% endif %}
          {% endfor %}
        </div>



        </div>
        <!-- end descriptive header -->

        <!-- sidebar -->
        <side style="font-size: 0.9em;" class="ui four wide column flooped">
          {% include side.html  %}
        </side>
        <!-- end sidebar -->
 




    </content>
    </main>   
    {% include footer.html %}
  </body>
</html>