<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include floopdashes.html stroke = page.color  %}
  {% include page_hilight.html hilight = page.color parent="body" %}  <body class="home">
    {% include nav.html  %}



    <div class="ui container">

      <main class="ui two column grid stackable flooped page_hilight" style="margin: 40px -7px; padding: 20px 20px 5rem 20px; background-size: 3%; transition: background-size 2s ease;">
        <content class="ui ten wide column">
          <!-- end excerpt -->
          {% assign galleries = site.galleries | where: 'tags', 'featured' | sort: 'date'  | reverse %}
            <div class="card block" >
              {% for post in galleries  limit:1 %}
              {% assign recentgal = post.gallery  %}
                <h2>Featured album: {{ post.title}}</h2>
              {% endfor  %}
              {% assign rightgal = site.media | where: "gallery", recentgal  %}
              {% for media in rightgal limit:1   %}
              {% assign poster="/assets/cloud.png"  %}
              {% if media.image  %}
              {% assign poster=media.image  %}
              {% endif  %}
            <div class="content">
              <div class="content" style="background-image: url({{ poster | resize: '800>x800'}}); margin: auto; height: 415px; background-repeat: no-repeat; background-position: center; background-size: cover;">
              <hr>
                <a href="/gallery/{{media.gallery}}" title="{{ media.title }}" style="width: 100%; height: 415px; display: block;"></a>
              </div>
              <small>
                <a href="{{ media.url }}?gallery={{media.url}}" title="{{ media.title }}" class="card-link page_hilight">{{ media.title }}</a>
              </small>
                  {% if postExcerpt  %}
                    <div>
                      {{ postExcerpt | truncatewords: 25 }}
                    </div>
                  {% endif %}
                </div>
          </div>
          {% endfor  %}
        </content>
        <div class="ui six wide column">
            <div class="card block fixed" style="color: red;">
              <h1>{{ page.title }}</h1>
              {{ content }}
            </div>
            <div class="card block fixed">
            <h2>Featured Notes</h2>
            {% assign sorted_notes = site.documents | where: 'tags', 'featured' | sort: 'date' | reverse  %}
            {% for note in sorted_notes limit:4 %}
            <div class="ui vertical segment">
              <a href="{{note.url}}"><h4>{{note.title }}</h4></a>
              <div class="excerpt">
                {{ note.excerpt | truncatewords: 15 }}
              </div>
            </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </main>
    </div>
    {% include footer.html  %}

  </body>
</html>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const floopedElements = document.querySelectorAll(".flooped");
  
    // Function to change the background-size property
    function changeBackgroundSize() {
      floopedElements.forEach(function (element) {
        element.style.backgroundSize = "54%";
      });
    }
  
    // Call the changeBackgroundSize function when the page is loaded
    changeBackgroundSize();
  });
</script>
