---
layout: default
---

<article>
  <div>
  </div>

  <div id="notes-entry-container">

 
    <h1>{{ page.title }}</h1>
      <content>
        {{ content }}
<!-- end excerpt -->
    {% for post in site.galleries %}
              <h2>
                <a href="{{ post.url }}" target="_blank" title="{{ post.title }}">{{ post.title}}</a>
              </h2>
    {% endfor  %}
      </content>
      <side style="font-size: 0.9em">
        {% assign tags = site.tags | sort %}
        {% for tag in tags %}
        {{ tag[0]}}
        {% endfor %}
    </side>
  </div>
</article>

<hr>

